rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{uid} {
      allow read: if request.auth.uid == uid;
    }
    match /authorizationKeys/{authorizationKey} {
      allow read: if getAuthorizationData(authorizationKey).uid == request.auth.uid
      function getAuthorizationData(authorizationKey) {
        return get(/databases/$(database)/documents/authorizationKeys/$(authorizationKey)).data;
      }
    }
    match /accessTokens/{accessToken} {
      allow read: if getAccessTokenData(accessToken).uid == request.auth.uid
      function getAccessTokenData(accessToken) {
        return get(/databases/$(database)/documents/accessTokens/$(accessToken)).data;
      }
    }
  }
}